doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Accueil - Mon Application
    link(rel="stylesheet", href="/css/style.css")
    
  
  body
    header.menu_home
        .container_home_menu
            .logo_home_container 
                <svg viewBox="0 0 923 1049" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="593.517" width="144.495" height="1040.37" transform="rotate(5 593.517 0)" fill="#2B303A"/>
                <rect x="90.6738" width="144.495" height="1040.37" transform="rotate(5 90.6738 0)" fill="#2B303A"/>
                <rect x="778.924" y="22.1296" width="144.495" height="520.183" transform="rotate(5 778.924 22.1296)" fill="#2B303A"/>
                <rect x="276.081" y="22.1296" width="144.495" height="520.183" transform="rotate(5 276.081 22.1296)" fill="#2B303A"/>
                </svg>
                h2 Page 
                    span Pilote
            
            .links_home_container
                a(href="http://localhost:5173/connexion") Se connecter
                a(href="http://localhost:5173/inscription") S'inscrire
      
     
    
    main
      section.hero_home
        .container_hero_home
            .Hero_svg_home
                <svg viewBox="0 0 150 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="96.3252" width="23.3292" height="167.97" transform="rotate(5 96.3252 0)" fill="#518490"/>
                <rect x="15.1396" width="23.3292" height="167.97" transform="rotate(5 15.1396 0)" fill="#2B303A"/>
                <rect x="126.26" y="3.573" width="23.3292" height="83.9851" transform="rotate(5 126.26 3.573)" fill="#518490"/>
                <rect x="45.0742" y="3.573" width="23.3292" height="83.9851" transform="rotate(5 45.0742 3.573)" fill="#2B303A"/>
                </svg>
            h1 
                | Créez votre 
                strong LANDING PAGE 
                | Simplement et Rapidement

            p Page Pilote révolutionne la création de landing pages, éliminant le besoin de compétences en développement et en design pour une présence en ligne rapide et percutante.

            a(href="http://localhost:5173/inscription") Commencer 

    section.img_home 
        img(src="/images/page_builder_Page_Pilote.png", alt="")

    section.items_home
        .container_items_home 
            .item_home
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 24.75V26.4283C15.0001 27.0852 14.8707 27.7356 14.6194 28.3424C14.368 28.9493 13.9995 29.5006 13.535 29.965L12.5 31H27.5L26.465 29.965C26.0005 29.5006 25.632 28.9493 25.3806 28.3424C25.1293 27.7356 24.9999 27.0852 25 26.4283V24.75M35 4.75V21C35 21.9946 34.6049 22.9484 33.9016 23.6516C33.1984 24.3549 32.2446 24.75 31.25 24.75H8.75C7.75544 24.75 6.80161 24.3549 6.09835 23.6516C5.39509 22.9484 5 21.9946 5 21V4.75M35 4.75C35 3.75544 34.6049 2.80161 33.9016 2.09835C33.1984 1.39509 32.2446 1 31.25 1H8.75C7.75544 1 6.80161 1.39509 6.09835 2.09835C5.39509 2.80161 5 3.75544 5 4.75M35 4.75V16C35 16.9946 34.6049 17.9484 33.9016 18.6516C33.1984 19.3549 32.2446 19.75 31.25 19.75H8.75C7.75544 19.75 6.80161 19.3549 6.09835 18.6516C5.39509 17.9484 5 16.9946 5 16V4.75" stroke="#518490" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges"/>
                </svg>
                h3 Simple et rapide
                p Notre outil vous permet de créer une landing page en quelques minutes seulement. Avec une interface intuitive et des fonctionnalités conviviales, vous n'avez pas besoin de compétences techniques pour lancer votre site rapidement et efficacement. 

            .item_home
                <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 7.23078H35M5 8.38462H35M9.61538 16.4615H18.8462M9.61538 19.9231H14.2308M8.46154 24.5385H31.5385C32.4565 24.5385 33.337 24.1738 33.9861 23.5246C34.6353 22.8754 35 21.995 35 21.0769V4.92309C35 4.00503 34.6353 3.12457 33.9861 2.47541C33.337 1.82624 32.4565 1.46155 31.5385 1.46155H8.46154C7.54348 1.46155 6.66303 1.82624 6.01386 2.47541C5.3647 3.12457 5 4.00503 5 4.92309V21.0769C5 21.995 5.3647 22.8754 6.01386 23.5246C6.66303 24.1738 7.54348 24.5385 8.46154 24.5385Z" stroke="#518490" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges"/>
                </svg>

                h3 Offre gratuite 
                p Créez votre première landing page gratuitement. Testez notre solution sans engagement et découvrez par vous-même à quel point il est facile de donner vie à vos idées en ligne. Une opportunité parfaite pour démarrer avec Page Pilote.


            .item_home
                <svg width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 4.82001C13.2527 2.35561 9.69066 0.994919 6 1.00002C4.24667 1.00002 2.56333 1.30002 1 1.85335V25.6033C2.60603 25.0367 4.29694 24.7481 6 24.75C9.84167 24.75 13.3467 26.195 16 28.57M16 4.82001C18.7472 2.35547 22.3093 0.994761 26 1.00002C27.7533 1.00002 29.4367 1.30002 31 1.85335V25.6033C29.394 25.0367 27.7031 24.7481 26 24.75C22.3093 24.7449 18.7473 26.1056 16 28.57M16 4.82001V28.57" stroke="#518490" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                h3 Bibliothèque de composant
                p Explorez notre bibliothèque de composants polyvalents pour personnaliser votre landing page à votre guise. Chaque élément est conçu pour s'harmoniser parfaitement, vous offrant une flexibilité totale pour répondre aux besoins spécifiques de vos projets.


    section.double_col_home
        .container_double_col_home 
            .content_double_col_home 
                h2 
                    | Des 
                    strong templates 
                    | adaptés à vos projets
                p Nous proposons un catalogue de templates professionnels, vous permettant de créer votre landing page rapidement et facilement, sans vous soucier des  du design.
                a(href="http://localhost:5173/inscription") S'inscrire 
            .img_double_col_home 
                img(src="/images/Template.png", alt="")


    section(class="double_col_home double_col_home_reverse") 
        div(class="container_double_col_home row-reverse") 
            .content_double_col_home 
                h2 
                    | Créer 
                    strong votre landing 
                    | selon vos besoins
                p La bibliothèque de composants vous permet de créer votre landing page selon vos envies. Conçue pour s'harmoniser parfaitement, cette solution est idéale pour vos projets les plus spécifiques.
               
            .img_double_col_home 
                img(src="/images/img_landing_page.png", alt="")
    
    
    
    
    
    footer.footer_home
        .container_footer_home
            .logo_title_footer_home 
                <svg viewBox="0 0 150 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="96.3252" width="23.3292" height="167.97" transform="rotate(5 96.3252 0)" fill="#518490"/>
                <rect x="15.1396" width="23.3292" height="167.97" transform="rotate(5 15.1396 0)" fill="#2B303A"/>
                <rect x="126.26" y="3.573" width="23.3292" height="83.9851" transform="rotate(5 126.26 3.573)" fill="#518490"/>
                <rect x="45.0742" y="3.573" width="23.3292" height="83.9851" transform="rotate(5 45.0742 3.573)" fill="#2B303A"/>
                </svg>
                h2 Page 
                    strong Pilote
            .rgpd_footer_home
                a(href="") Mentions Légales
                a(href="") politiques de confientialités
            .credits_footer_home
                p &copy; 2024 | pagepilote.com  
                a(href="mailto:contact@pagepilote.com") contact@pagepilote.com 

